page-project-detail {
  .pj-item {
    margin-top: 5px;
    margin-bottom: 5px;

    .mile-top {
      position: relative;

      .subtask-title {
        border-left: solid 1px gray;
        border-right: solid 1px gray;
        border-top: solid 1px gray;
        border-radius: 5px 5px 0 0;
        height: 25px;
        margin-left: 100px;
        margin-right: 10px;
        position: relative;
      }
      .subtask-wrap {
        border-left: solid 1px gray;
        border-right: solid 1px gray;
        border-top: solid 1px gray;
        border-radius: 5px 5px 0 0;
        margin-left: 100px;
        margin-right: 10px;

        .subtask-item {
          border-bottom: solid 1px gray;

          .subtask-css {
            display: flex;

            .subtask-left {
              margin-top: 2px;
              margin-bottom: 2px;
              margin-left: 10px;
              width: 20%;
            }
            .subtask-right {
              margin-top: 2px;
              margin-bottom: 2px;
              flex-grow: 1;
            }
          }
        }
        .subtask-item:last-child {
          border-bottom: none;
        }
      }
      //.subtask-wrap:nth-of-type(1){
      //
      //}
      .fold {
        position: absolute;
        top: 5px;
        right: 15px;
        width: 15px;
        height: 20px
      }
    }
  }
  .mile-bottom {
    display: flex;
    //position: relative;

    .item1 {
      padding: 0;
      margin: 0;
      margin-left: 5px;
      text-align: right;
      margin-right: 0px;
      display: inline;
      min-width: 40px;

      .line {
        background-color: #fc5c53;
        height: 1px;
      }
    }
    .item2 {
      padding: 0;
      margin: 0;
      text-align: center;
      display: inline;
      min-width: 40px;
      position: relative;

      .label-radius {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        line-height: 40px;
        font-size: 12px;
        border: solid 1px #1e82d2;
        margin-bottom: 3px;
        left: 0;
        top: 0px;
      }
      .mile-number {
        position: absolute;
        width: 100%;
        height: 10px;
        line-height: 10px;
        font-size: 8px;
        left: 0;
        top: 45px;
      }
      .delay-radius1 {
        position: absolute;
        width: 100%;
        height: 12px;
        border-radius: 6px;
        line-height: 12px;
        font-size: 8px;
        background-color: #fc780e;
        color: white;
        top: 54px;
        left: 0px;
      }
      .delay-radius2 {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        line-height: 16px;
        font-size: 10px;
        background-color: #fc780e;
        color: white;
        top: 20px;
        left: 12px;
      }
      .item2_text {
        position: absolute;
        width: 100%;
        text-align: center;
        height: 10px;
        font-size: 10px;
        line-height: 10px;
        left: 0px;
        top: 42px;
      }
    }
    .arrow-css1 {
      color: #fc5c53;
      min-width: 10px;
      min-height: 15px;
      margin-top: 15px;
      margin-left: 0px;
      text-align: right;
      padding: 0;
      display: inline;
    }
    .arrow-css2 {
      color: #617fde;
      min-width: 10px;
      min-height: 15px;
      margin-top: 15px;
      margin-left: 0px;
      text-align: right;
      padding: 0;
      display: inline;
    }
    .arrow-css3 {
      color: #fc780e;
      min-width: 10px;
      min-height: 15px;
      margin-top: 15px;
      margin-left: 0px;
      text-align: right;
      padding: 0;
      display: inline;
    }
    .item3 {
      flex-grow: 1;
      margin-right: 5px;
      display: flex;
    }
    .item3-1 {
      background-color: #fc5c53;
      border-radius: 5px;
      flex-grow: 1;
    }
    .item3-2 {
      background-color: #617fde;
      border-radius: 5px;
      flex-grow: 1;
    }
    .item3-3 {
      background-color: #fc780e;
      border-radius: 5px;
      flex-grow: 1;
    }
    .text-wrap {
      display: flex;
      .text-left {
        margin-left: 5px;
        min-width: 90px;
        color: white;
      }
      .text-right {
        flex-grow: 1;
        float: right;
        margin-right: 5px;
        color: white;
        //width: 70%;
        //word-break:break-all;
      }
    }
  }
  .share-css {
    background-color: white;
    border-top: solid 1px #ececec;
    position: fixed;
    bottom: -200px;
    width: 100%;
    height: 200px;
  }
}
