page-login {
  .login_icon {
    //display: block;
    width: 100%;
  }
  .login_input {
    margin: 60px auto;
    display: block;
    //width: 100%;
    height: 30px;
    font-size: 16px;
    border-radius: 15px;
    border: solid 1px #c5c6c7;
    text-indent: 15px;
  }
  .login_btn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #ffb4b0;
    color: white;
    margin-top: 35px;
  }
  .row {
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
    height: 50px;
    margin-top: 17px;

    input[type="text"], input[type="password"]{
      letter-spacing: 1px;
      height: 50px;
      margin-left: 10px;
      margin-top: 5px;
      color: #111111;
    }
    //&:last-child {
    //  border: none;
    //}
    .area {
      margin-top: 20px;
      padding-right: 20px;
      border-right: 2px solid #c1c1c1;
      display: inline-block;
      height: 18px;
      //width: 12px;
    }
    //&:first-child {
    //  input {
    //    padding-left: 28px;
    //  }
    //}
  }
  .forget {
    display: block;
    margin: 0 auto;
    font-size: 16px !important;
    color: #848484;
    background-color: transparent;
  }
}
