page-forget {
  .wrap {
    margin: 60px 60px;

    .row {
      width: 100%;
      background-color: #ddd;
      height: 50px;
      border-radius: 25px;
      margin: 17px auto;

      input[type="text"] {
        letter-spacing: 1px;
        height: 50px;
        color: #111;
        padding-left: 15px;
      }
      .sendcode {
        color: #868686;
        line-height: 50px;
        font-size: 10px;
        padding-right: 10px;
        &.active {
          color: #fc5c53;
        }
      }
      button[type="submit"] {
        width: 100%;
        height: 100%;
        //border-radius: 25px;
        font-size: 16px;
        color: white;
        margin-top: 32px;
        //font-weight: 100;
      }
    }
    .row:last-child {
      background-color: #fc5c53;
      color: white;
    }
  }
}
