body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1716px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:964px;
}
#u387 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:964px;
}
#u388 {
  position:absolute;
  left:2px;
  top:474px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389 {
  position:absolute;
  left:89px;
  top:233px;
  width:267px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u390 {
  position:absolute;
  left:89px;
  top:510px;
  width:267px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u391 {
  position:absolute;
  left:89px;
  top:620px;
  width:267px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u392 {
  position:absolute;
  left:95px;
  top:343px;
  width:252px;
  height:167px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u393 {
  position:absolute;
  left:321px;
  top:19px;
  width:54px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u394 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1063px;
  overflow:hidden;
  visibility:hidden;
}
#u394_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1063px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u394_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u396 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397 {
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u394_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1063px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u394_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u398 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:932px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u399 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:932px;
  opacity:0.5;
}
#u400 {
  position:absolute;
  left:2px;
  top:458px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:132px;
}
#u401 {
  position:absolute;
  left:50px;
  top:234px;
  width:253px;
  height:132px;
}
#u402 {
  position:absolute;
  left:2px;
  top:58px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u403 {
  position:absolute;
  left:111px;
  top:257px;
  width:97px;
  height:40px;
  text-align:right;
}
#u404 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u405 {
  position:absolute;
  left:62px;
  top:320px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u406 {
  position:absolute;
  left:185px;
  top:319px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u394_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1063px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u394_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u408 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409 {
  position:absolute;
  left:307px;
  top:22px;
  width:68px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u410 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1004px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u411 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1004px;
  opacity:0.5;
}
#u412 {
  position:absolute;
  left:2px;
  top:494px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u413 {
  position:absolute;
  left:118px;
  top:328px;
  width:140px;
  height:40px;
}
#u414 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u394_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1063px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u394_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1018px;
}
#u415 {
  position:absolute;
  left:0px;
  top:-14px;
  width:375px;
  height:1018px;
}
#u416 {
  position:absolute;
  left:2px;
  top:501px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417 {
  position:absolute;
  left:95px;
  top:715px;
  width:259px;
  height:40px;
}
#u417_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u418 {
  position:absolute;
  left:116px;
  top:833px;
  width:238px;
  height:82px;
}
#u418_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:82px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u419 {
  position:absolute;
  left:116px;
  top:773px;
  width:219px;
  height:37px;
}
#u420 {
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1004px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1004px;
  opacity:0.5;
}
#u423 {
  position:absolute;
  left:2px;
  top:494px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  position:absolute;
  left:118px;
  top:328px;
  width:140px;
  height:40px;
}
#u425 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u426 {
  position:absolute;
  left:319px;
  top:0px;
  width:56px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u427 {
  position:absolute;
  left:385px;
  top:0px;
  width:375px;
  height:667px;
}
#u428 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429 {
  position:absolute;
  left:622px;
  top:79px;
  width:117px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u430 {
  position:absolute;
  left:620px;
  top:123px;
  width:117px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u431 {
  position:absolute;
  left:622px;
  top:163px;
  width:117px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u432 {
  position:absolute;
  left:622px;
  top:208px;
  width:117px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u433 {
  position:absolute;
  left:0px;
  top:19px;
  width:54px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u434 {
  position:absolute;
  left:900px;
  top:0px;
  width:821px;
  height:728px;
}
#u435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u435 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u436 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  word-wrap:break-word;
}
#u437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:20px;
}
#u437 {
  position:absolute;
  left:215px;
  top:0px;
  width:601px;
  height:20px;
}
#u438 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:139px;
}
#u439 {
  position:absolute;
  left:0px;
  top:20px;
  width:215px;
  height:139px;
}
#u440 {
  position:absolute;
  left:2px;
  top:62px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:139px;
}
#u441 {
  position:absolute;
  left:215px;
  top:20px;
  width:601px;
  height:139px;
  text-align:left;
}
#u442 {
  position:absolute;
  left:2px;
  top:6px;
  width:597px;
  word-wrap:break-word;
}
#u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:164px;
}
#u443 {
  position:absolute;
  left:0px;
  top:159px;
  width:215px;
  height:164px;
}
#u444 {
  position:absolute;
  left:2px;
  top:74px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:164px;
}
#u445 {
  position:absolute;
  left:215px;
  top:159px;
  width:601px;
  height:164px;
  text-align:left;
}
#u446 {
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u447 {
  position:absolute;
  left:0px;
  top:323px;
  width:215px;
  height:20px;
}
#u448 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:20px;
}
#u449 {
  position:absolute;
  left:215px;
  top:323px;
  width:601px;
  height:20px;
}
#u450 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:164px;
}
#u451 {
  position:absolute;
  left:0px;
  top:343px;
  width:215px;
  height:164px;
}
#u452 {
  position:absolute;
  left:2px;
  top:74px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:164px;
}
#u453 {
  position:absolute;
  left:215px;
  top:343px;
  width:601px;
  height:164px;
  text-align:left;
}
#u454 {
  position:absolute;
  left:2px;
  top:18px;
  width:597px;
  word-wrap:break-word;
}
#u455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u455 {
  position:absolute;
  left:0px;
  top:507px;
  width:215px;
  height:20px;
}
#u456 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:20px;
}
#u457 {
  position:absolute;
  left:215px;
  top:507px;
  width:601px;
  height:20px;
}
#u458 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:115px;
}
#u459 {
  position:absolute;
  left:0px;
  top:527px;
  width:215px;
  height:115px;
}
#u460 {
  position:absolute;
  left:2px;
  top:50px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:115px;
}
#u461 {
  position:absolute;
  left:215px;
  top:527px;
  width:601px;
  height:115px;
  text-align:left;
}
#u462 {
  position:absolute;
  left:2px;
  top:18px;
  width:597px;
  word-wrap:break-word;
}
#u463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u463 {
  position:absolute;
  left:0px;
  top:642px;
  width:215px;
  height:20px;
}
#u464 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:20px;
}
#u465 {
  position:absolute;
  left:215px;
  top:642px;
  width:601px;
  height:20px;
}
#u466 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:61px;
}
#u467 {
  position:absolute;
  left:0px;
  top:662px;
  width:215px;
  height:61px;
}
#u468 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:61px;
}
#u469 {
  position:absolute;
  left:215px;
  top:662px;
  width:601px;
  height:61px;
  text-align:left;
}
#u470 {
  position:absolute;
  left:2px;
  top:14px;
  width:597px;
  word-wrap:break-word;
}
#u471_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:4597px;
}
#u471 {
  position:absolute;
  left:825px;
  top:-374px;
  width:5px;
  height:4592px;
}
#u472 {
  position:absolute;
  left:2px;
  top:2288px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473 {
  position:absolute;
  left:0px;
  top:733px;
  width:375px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u474 {
  position:absolute;
  left:352px;
  top:1084px;
  width:140px;
  height:40px;
}
#u475 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:852px;
}
#u476 {
  position:absolute;
  left:0px;
  top:1182px;
  width:375px;
  height:852px;
}
#u477 {
  position:absolute;
  left:2px;
  top:418px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478 {
  position:absolute;
  left:374px;
  top:2044px;
  width:215px;
  height:40px;
}
#u479 {
  position:absolute;
  left:2px;
  top:12px;
  width:211px;
  word-wrap:break-word;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u481 {
  position:absolute;
  left:622px;
  top:707px;
  width:136px;
  height:73px;
}
#u482 {
  position:absolute;
  left:2px;
  top:28px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:2px;
}
#u483 {
  position:absolute;
  left:622px;
  top:746px;
  width:136px;
  height:1px;
}
#u484 {
  position:absolute;
  left:2px;
  top:-8px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u485 {
  position:absolute;
  left:690px;
  top:747px;
  width:1px;
  height:30px;
}
#u486 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0000FF;
}
#u487 {
  position:absolute;
  left:643px;
  top:756px;
  width:42px;
  height:13px;
  font-size:10px;
  color:#0000FF;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0000FF;
}
#u489 {
  position:absolute;
  left:706px;
  top:756px;
  width:42px;
  height:13px;
  font-size:10px;
  color:#0000FF;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#000000;
}
#u491 {
  position:absolute;
  left:655px;
  top:723px;
  width:77px;
  height:13px;
  font-size:10px;
  color:#000000;
}
#u492 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u494 {
  position:absolute;
  left:627px;
  top:798px;
  width:136px;
  height:40px;
}
#u495 {
  position:absolute;
  left:2px;
  top:12px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u496 {
  position:absolute;
  left:639px;
  top:810px;
  width:121px;
  height:21px;
  font-size:11px;
  color:#000000;
}
#u497 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u498 {
  position:absolute;
  left:622px;
  top:250px;
  width:117px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u499 {
  position:absolute;
  left:59px;
  top:79px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u500 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
