body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u219 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:0px;
  top:24px;
  width:40px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u221_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:4597px;
}
#u221 {
  position:absolute;
  left:450px;
  top:0px;
  width:5px;
  height:4592px;
}
#u222 {
  position:absolute;
  left:2px;
  top:2288px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:523px;
  top:1px;
  width:821px;
  height:164px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u225 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:20px;
}
#u226 {
  position:absolute;
  left:215px;
  top:0px;
  width:601px;
  height:20px;
}
#u227 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:139px;
}
#u228 {
  position:absolute;
  left:0px;
  top:20px;
  width:215px;
  height:139px;
}
#u229 {
  position:absolute;
  left:2px;
  top:62px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:139px;
}
#u230 {
  position:absolute;
  left:215px;
  top:20px;
  width:601px;
  height:139px;
  text-align:left;
}
#u231 {
  position:absolute;
  left:2px;
  top:22px;
  width:597px;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00CC00;
}
#u232 {
  position:absolute;
  left:90px;
  top:244px;
  width:47px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00CC00;
}
#u233 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00CC00;
}
#u234 {
  position:absolute;
  left:90px;
  top:72px;
  width:47px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00CC00;
}
#u235 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00CC00;
}
#u236 {
  position:absolute;
  left:90px;
  top:122px;
  width:47px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00CC00;
}
#u237 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00CC00;
}
#u238 {
  position:absolute;
  left:90px;
  top:174px;
  width:47px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00CC00;
}
#u239 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:305px;
}
#u240 {
  position:absolute;
  left:0px;
  top:362px;
  width:375px;
  height:305px;
}
#u241 {
  position:absolute;
  left:2px;
  top:144px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
