page-home {
  .circle_nostart {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #10c619;
    font-size: 16px;
    line-height: 16px;
    color: white;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
  }
  .circle_end {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background: #c1c8d2;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
  }
  .circle_ing {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background: #fc780e;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
  }
  .circle_other {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background: #fc780e;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
  }
  .pj-name {
    color: black;
    margin-left: 20px;
    font-size: 18px;
  }
  .weektop {
    border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    //border-left: solid 1px #ececec;
  }
  .weektop:last-child {
    //border-right: solid 1px #ececec;
  }
  .col–14 {
    –webkit–box–flex: 0;
    –webkit–flex: 0 0 14%;
    –moz–box–flex: 0;
    –moz–flex: 0 0 %14;
    –ms–flex: 0 0 14%;
    flex: 0 0 14%;
    text-align: center;
    height: 50px;
    border-bottom: solid 1px #ececec;
    border-right: solid 1px #ececec;
  }
  .col–14:last-child {
    border-bottom: none;
    border-right: none;
  }

  .text_vertical_center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .list_day {
    position: absolute;
    left: 10px;
    height: 100%;
    width: 40px;
    line-height: 50px;
    font-size: 25px;
  }
  .list_weekday {
    position: absolute;
    left: 60px;
    height: 100%;
    width: 60px;
    line-height: 50px;
    font-size: 16px;
  }
  .list_itemname {
    position: absolute;
    left: 130px;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 16px;
    color: black;
  }
  .list_level_nostart {
    left: 110px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background: #10c619;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .list_level_end {
    left: 110px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background: #c1c8d2;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .list_level_ing {
    left: 110px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background: #fc780e;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
