page-home {
  .circle_home {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    font-size: 16px;
    background-color: black;
    line-height: 22px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  .nostart {
    background: #10c619 !important;
  }
  .ing {
    background: #fc780e !important;
  }
  .end {
    background: #c1c8d2 !important;
  }

  .pj-name {
    color: black;
    //font-size: 18px;
    //position: absolute;
    //left: 10px;
    //width: 100%;
    //height: 100%;
    line-height: 50px;
    overflow: hidden;
    //text-overflow:ellipsis;
    //white-space: nowrap;
    //width: 100%;
    //top: 50%;
    //-webkit-transform: translateY(-50%);
    //transform: translateY(-50%);
    max-height: 50px;
  }
  .weektop {
    border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    //border-left: solid 1px #ececec;
  }
  .weektop:last-child {
    //border-right: solid 1px #ececec;
  }
  .col–14 {
    –webkit–box–flex: 0;
    –webkit–flex: 0 0 14%;
    –moz–box–flex: 0;
    –moz–flex: 0 0 %14;
    –ms–flex: 0 0 14%;
    flex: 0 0 14%;
    text-align: center;
    height: 50px;
    border-bottom: solid 1px #ececec;
    border-right: solid 1px #ececec;
  }
  .col–14:last-child {
    border-bottom: none;
    border-right: none;
  }

  .text_vertical_center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .list_day {
    position: absolute;
    left: 10px;
    height: 100%;
    width: 40px;
    line-height: 50px;
    font-size: 25px;
  }
  .list_weekday {
    position: absolute;
    left: 60px;
    height: 100%;
    width: 60px;
    line-height: 50px;
    font-size: 16px;
  }
  .list_itemname {
    position: absolute;
    left: 130px;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 16px;
    color: black;
  }
  .list_circle {
    left: 110px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
