body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:703px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:71px;
  top:157px;
  width:100px;
  height:60px;
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:232px;
  top:74px;
  width:100px;
  height:60px;
}
#u50 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:232px;
  top:157px;
  width:100px;
  height:60px;
}
#u52 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:232px;
  top:241px;
  width:100px;
  height:60px;
}
#u54 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:171px;
  top:187px;
  width:0px;
  height:0px;
}
#u55_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u55_seg1 {
  position:absolute;
  left:45px;
  top:-87px;
  width:8px;
  height:91px;
}
#u55_seg2 {
  position:absolute;
  left:45px;
  top:-87px;
  width:16px;
  height:8px;
}
#u55_seg3 {
  position:absolute;
  left:48px;
  top:-93px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:-1px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:171px;
  top:187px;
  width:0px;
  height:0px;
}
#u57_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u57_seg1 {
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u58 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:171px;
  top:187px;
  width:0px;
  height:0px;
}
#u59_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u59_seg1 {
  position:absolute;
  left:45px;
  top:-4px;
  width:8px;
  height:92px;
}
#u59_seg2 {
  position:absolute;
  left:45px;
  top:80px;
  width:16px;
  height:8px;
}
#u59_seg3 {
  position:absolute;
  left:48px;
  top:74px;
  width:20px;
  height:20px;
}
#u60 {
  position:absolute;
  left:-1px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:332px;
  top:104px;
  width:0px;
  height:0px;
}
#u61_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u61_seg1 {
  position:absolute;
  left:104px;
  top:-4px;
  width:8px;
  height:91px;
}
#u61_seg2 {
  position:absolute;
  left:104px;
  top:79px;
  width:15px;
  height:8px;
}
#u61_seg3 {
  position:absolute;
  left:106px;
  top:73px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:51px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:332px;
  top:187px;
  width:0px;
  height:0px;
}
#u63_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u63_seg1 {
  position:absolute;
  left:106px;
  top:-10px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:332px;
  top:271px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u65_seg1 {
  position:absolute;
  left:104px;
  top:-88px;
  width:8px;
  height:92px;
}
#u65_seg2 {
  position:absolute;
  left:104px;
  top:-88px;
  width:15px;
  height:8px;
}
#u65_seg3 {
  position:absolute;
  left:106px;
  top:-94px;
  width:20px;
  height:20px;
}
#u66 {
  position:absolute;
  left:52px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:603px;
  top:157px;
  width:100px;
  height:60px;
}
#u68 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:451px;
  top:157px;
  width:100px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:551px;
  top:187px;
  width:0px;
  height:0px;
}
#u71_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u71_seg1 {
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u72 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
