body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u727 {
  position:absolute;
  left:421px;
  top:0px;
  width:375px;
  height:667px;
}
#u728 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u730 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u731 {
  position:absolute;
  left:145px;
  top:688px;
  width:71px;
  height:16px;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u733 {
  position:absolute;
  left:573px;
  top:688px;
  width:99px;
  height:16px;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u735 {
  position:absolute;
  left:318px;
  top:19px;
  width:57px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  opacity:0.5;
}
#u738 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:118px;
  top:248px;
  width:140px;
  height:40px;
}
#u740 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u741 {
  position:absolute;
  left:739px;
  top:19px;
  width:57px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u743 {
  position:absolute;
  left:421px;
  top:0px;
  width:375px;
  height:667px;
  opacity:0.5;
}
#u744 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u745 {
  position:absolute;
  left:539px;
  top:248px;
  width:140px;
  height:40px;
}
#u746 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:3472px;
}
#u747 {
  position:absolute;
  left:900px;
  top:0px;
  width:5px;
  height:3467px;
}
#u748 {
  position:absolute;
  left:2px;
  top:1726px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749 {
  position:absolute;
  left:1039px;
  top:0px;
  width:968px;
  height:189px;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
}
#u751 {
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:20px;
}
#u752 {
  position:absolute;
  left:219px;
  top:0px;
  width:744px;
  height:20px;
}
#u753 {
  position:absolute;
  left:2px;
  top:2px;
  width:740px;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:68px;
}
#u754 {
  position:absolute;
  left:0px;
  top:20px;
  width:219px;
  height:68px;
}
#u755 {
  position:absolute;
  left:2px;
  top:26px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:68px;
}
#u756 {
  position:absolute;
  left:219px;
  top:20px;
  width:744px;
  height:68px;
  text-align:left;
}
#u757 {
  position:absolute;
  left:2px;
  top:10px;
  width:740px;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
}
#u758 {
  position:absolute;
  left:0px;
  top:88px;
  width:219px;
  height:20px;
}
#u759 {
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:20px;
}
#u760 {
  position:absolute;
  left:219px;
  top:88px;
  width:744px;
  height:20px;
}
#u761 {
  position:absolute;
  left:2px;
  top:2px;
  width:740px;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:76px;
}
#u762 {
  position:absolute;
  left:0px;
  top:108px;
  width:219px;
  height:76px;
}
#u763 {
  position:absolute;
  left:2px;
  top:30px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:76px;
}
#u764 {
  position:absolute;
  left:219px;
  top:108px;
  width:744px;
  height:76px;
  text-align:left;
}
#u765 {
  position:absolute;
  left:2px;
  top:14px;
  width:740px;
  word-wrap:break-word;
}
