<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <ion-searchbar placeholder="搜索项目名称" [(ngModel)]=searchValue
                   [showCancelButton]="false"
                   (ionInput)="onSearchInput($event)"
                   (ionCancel)="onSearchCancel($event)">

    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
    <div *ngFor="let dic of array">
      <div style="background-color: #f5f6f7; height: 20px;padding-left: 5px">{{dic.year+"年"}}</div>
      <div style="height: 44px; border-bottom: solid 1px #f5f6f7; position:relative;" *ngFor="let project of dic.projects" (click)="onClickProject($event,project)">
        <ion-label no-padding no-margin float-left class="vertical_center" style="left: 5px">{{project.startTime | MonthPipe}}</ion-label>
        <ion-label no-padding no-margin float-right class="vertical_center" style="right: 5px;">{{project.itemName}}</ion-label>
      </div>
    </div>
</ion-content>
