body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1074px;
}
#u1411 {
  position:absolute;
  left:100px;
  top:0px;
  width:1px;
  height:1073px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:528px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u1413 {
  position:absolute;
  left:0px;
  top:50px;
  width:1000px;
  height:1px;
}
#u1414 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1415 {
  position:absolute;
  left:156px;
  top:61px;
  width:78px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1416 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u1417 {
  position:absolute;
  left:100px;
  top:89px;
  width:900px;
  height:1px;
}
#u1418 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1419 {
  position:absolute;
  left:904px;
  top:61px;
  width:96px;
  height:16px;
}
#u1420 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1421 {
  position:absolute;
  left:475px;
  top:61px;
  width:145px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1422 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u1423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1423 {
  position:absolute;
  left:156px;
  top:106px;
  width:78px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1424 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1425 {
  position:absolute;
  left:234px;
  top:106px;
  width:228px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1426 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u1427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1427 {
  position:absolute;
  left:1506px;
  top:525px;
  width:60px;
  height:60px;
}
#u1428 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1429 {
  position:absolute;
  left:1506px;
  top:311px;
  width:60px;
  height:60px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:128px;
}
#u1432 {
  position:absolute;
  left:227px;
  top:198px;
  width:611px;
  height:128px;
}
#u1433 {
  position:absolute;
  left:2px;
  top:56px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1434 {
  position:absolute;
  left:314px;
  top:344px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1435 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1436 {
  position:absolute;
  left:314px;
  top:388px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1437 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1438 {
  position:absolute;
  left:227px;
  top:344px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1439 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1440 {
  position:absolute;
  left:227px;
  top:388px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1441 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1442 {
  position:absolute;
  left:230px;
  top:201px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1443 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1444 {
  position:absolute;
  left:317px;
  top:201px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1445 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1446 {
  position:absolute;
  left:230px;
  top:245px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1447 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1448 {
  position:absolute;
  left:230px;
  top:289px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1449 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1450 {
  position:absolute;
  left:317px;
  top:245px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1451 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1452 {
  position:absolute;
  left:317px;
  top:289px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1453 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1455 {
  position:absolute;
  left:151px;
  top:353px;
  width:57px;
  height:57px;
}
#u1456 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1457_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:237px;
}
#u1457 {
  position:absolute;
  left:176px;
  top:448px;
  width:5px;
  height:225px;
}
#u1458 {
  position:absolute;
  left:2px;
  top:104px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1459 {
  position:absolute;
  left:150px;
  top:688px;
  width:57px;
  height:57px;
}
#u1460 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1461_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:161px;
}
#u1461 {
  position:absolute;
  left:175px;
  top:777px;
  width:5px;
  height:149px;
}
#u1462 {
  position:absolute;
  left:2px;
  top:66px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1463 {
  position:absolute;
  left:148px;
  top:933px;
  width:57px;
  height:57px;
}
#u1464 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1465 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1466 {
  position:absolute;
  left:323px;
  top:923px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1467 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1468 {
  position:absolute;
  left:323px;
  top:967px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1469 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1470 {
  position:absolute;
  left:236px;
  top:923px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1471 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1472 {
  position:absolute;
  left:236px;
  top:967px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1473 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1474 {
  position:absolute;
  left:153px;
  top:422px;
  width:52px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1475 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u1476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1476 {
  position:absolute;
  left:157px;
  top:758px;
  width:40px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1478 {
  position:absolute;
  left:146px;
  top:1000px;
  width:65px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1479 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1480 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1481 {
  position:absolute;
  left:1274px;
  top:342px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1482 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1483 {
  position:absolute;
  left:1274px;
  top:386px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1484 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1485 {
  position:absolute;
  left:1187px;
  top:342px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1486 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1487 {
  position:absolute;
  left:1187px;
  top:386px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1488 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1490 {
  position:absolute;
  left:1105px;
  top:343px;
  width:57px;
  height:57px;
}
#u1491 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1492_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:137px;
}
#u1492 {
  position:absolute;
  left:1130px;
  top:438px;
  width:5px;
  height:125px;
}
#u1493 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1494 {
  position:absolute;
  left:1104px;
  top:562px;
  width:57px;
  height:57px;
}
#u1495 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1496_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:137px;
}
#u1496 {
  position:absolute;
  left:1129px;
  top:649px;
  width:5px;
  height:125px;
}
#u1497 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1498 {
  position:absolute;
  left:1102px;
  top:773px;
  width:57px;
  height:57px;
}
#u1499 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1500 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1501 {
  position:absolute;
  left:1277px;
  top:556px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1502 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1503 {
  position:absolute;
  left:1277px;
  top:600px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1504 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1505 {
  position:absolute;
  left:1190px;
  top:556px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1506 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1507 {
  position:absolute;
  left:1190px;
  top:600px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1508 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1509 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1510 {
  position:absolute;
  left:1277px;
  top:773px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1511 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1512 {
  position:absolute;
  left:1277px;
  top:817px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1513 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1514 {
  position:absolute;
  left:1190px;
  top:773px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1515 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1516 {
  position:absolute;
  left:1190px;
  top:817px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1517 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1518 {
  position:absolute;
  left:1107px;
  top:412px;
  width:52px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1519 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u1520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1520 {
  position:absolute;
  left:1111px;
  top:632px;
  width:40px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1521 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1522 {
  position:absolute;
  left:1100px;
  top:840px;
  width:65px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1523 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1524 {
  position:absolute;
  left:1523px;
  top:318px;
  width:25px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1525 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:128px;
}
#u1527 {
  position:absolute;
  left:227px;
  top:532px;
  width:611px;
  height:128px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:56px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1529 {
  position:absolute;
  left:314px;
  top:678px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1530 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1531 {
  position:absolute;
  left:314px;
  top:722px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1532 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1533 {
  position:absolute;
  left:227px;
  top:678px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1534 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1535 {
  position:absolute;
  left:227px;
  top:722px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1536 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1537 {
  position:absolute;
  left:230px;
  top:535px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1538 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1539 {
  position:absolute;
  left:317px;
  top:535px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1540 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1541 {
  position:absolute;
  left:230px;
  top:579px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1542 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1543 {
  position:absolute;
  left:230px;
  top:623px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1544 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1545 {
  position:absolute;
  left:317px;
  top:579px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1546 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1547 {
  position:absolute;
  left:317px;
  top:623px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1548 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1549 {
  position:absolute;
  left:1523px;
  top:533px;
  width:25px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1550 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1551 {
  position:absolute;
  left:244px;
  top:61px;
  width:78px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
