body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1115 {
  position:absolute;
  left:1506px;
  top:475px;
  width:60px;
  height:60px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1117 {
  position:absolute;
  left:1506px;
  top:261px;
  width:60px;
  height:60px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:128px;
}
#u1120 {
  position:absolute;
  left:227px;
  top:148px;
  width:611px;
  height:128px;
}
#u1121 {
  position:absolute;
  left:2px;
  top:56px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1122 {
  position:absolute;
  left:314px;
  top:294px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1123 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1124 {
  position:absolute;
  left:314px;
  top:338px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1125 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1126 {
  position:absolute;
  left:227px;
  top:294px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1127 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1128 {
  position:absolute;
  left:227px;
  top:338px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1129 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1130 {
  position:absolute;
  left:230px;
  top:151px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1131 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1132 {
  position:absolute;
  left:317px;
  top:151px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1133 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1134 {
  position:absolute;
  left:230px;
  top:195px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1135 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1136 {
  position:absolute;
  left:230px;
  top:239px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1137 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1138 {
  position:absolute;
  left:317px;
  top:195px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1139 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1140 {
  position:absolute;
  left:317px;
  top:239px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1141 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1016px;
}
#u1142 {
  position:absolute;
  left:100px;
  top:0px;
  width:1px;
  height:1015px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:500px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u1144 {
  position:absolute;
  left:0px;
  top:50px;
  width:1000px;
  height:1px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1146 {
  position:absolute;
  left:156px;
  top:61px;
  width:78px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1147 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u1148 {
  position:absolute;
  left:100px;
  top:89px;
  width:900px;
  height:1px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1150 {
  position:absolute;
  left:904px;
  top:61px;
  width:96px;
  height:16px;
}
#u1151 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1153 {
  position:absolute;
  left:151px;
  top:303px;
  width:57px;
  height:57px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1155_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:237px;
}
#u1155 {
  position:absolute;
  left:176px;
  top:398px;
  width:5px;
  height:225px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:104px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1157 {
  position:absolute;
  left:150px;
  top:638px;
  width:57px;
  height:57px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:161px;
}
#u1159 {
  position:absolute;
  left:175px;
  top:727px;
  width:5px;
  height:149px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:66px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1161 {
  position:absolute;
  left:148px;
  top:883px;
  width:57px;
  height:57px;
}
#u1162 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1164 {
  position:absolute;
  left:323px;
  top:873px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1165 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1166 {
  position:absolute;
  left:323px;
  top:917px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1167 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1168 {
  position:absolute;
  left:236px;
  top:873px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1169 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1170 {
  position:absolute;
  left:236px;
  top:917px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1171 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1172 {
  position:absolute;
  left:475px;
  top:61px;
  width:145px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1173 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u1174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1174 {
  position:absolute;
  left:25px;
  top:173px;
  width:57px;
  height:16px;
}
#u1175 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1176 {
  position:absolute;
  left:195px;
  top:15px;
  width:29px;
  height:16px;
}
#u1177 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1178 {
  position:absolute;
  left:153px;
  top:372px;
  width:52px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1179 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u1180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1180 {
  position:absolute;
  left:157px;
  top:708px;
  width:40px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1181 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1182 {
  position:absolute;
  left:146px;
  top:950px;
  width:65px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1183 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1185 {
  position:absolute;
  left:1274px;
  top:292px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1186 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1187 {
  position:absolute;
  left:1274px;
  top:336px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1188 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1189 {
  position:absolute;
  left:1187px;
  top:292px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1190 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1191 {
  position:absolute;
  left:1187px;
  top:336px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1192 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1194 {
  position:absolute;
  left:1105px;
  top:293px;
  width:57px;
  height:57px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1196_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:137px;
}
#u1196 {
  position:absolute;
  left:1130px;
  top:388px;
  width:5px;
  height:125px;
}
#u1197 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1198 {
  position:absolute;
  left:1104px;
  top:512px;
  width:57px;
  height:57px;
}
#u1199 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1200_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:137px;
}
#u1200 {
  position:absolute;
  left:1129px;
  top:599px;
  width:5px;
  height:125px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1202 {
  position:absolute;
  left:1102px;
  top:723px;
  width:57px;
  height:57px;
}
#u1203 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1205 {
  position:absolute;
  left:1277px;
  top:506px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1206 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1207 {
  position:absolute;
  left:1277px;
  top:550px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1208 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1209 {
  position:absolute;
  left:1190px;
  top:506px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1210 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1211 {
  position:absolute;
  left:1190px;
  top:550px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1212 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1214 {
  position:absolute;
  left:1277px;
  top:723px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1215 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1216 {
  position:absolute;
  left:1277px;
  top:767px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1217 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1218 {
  position:absolute;
  left:1190px;
  top:723px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1219 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1220 {
  position:absolute;
  left:1190px;
  top:767px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1221 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1222 {
  position:absolute;
  left:1107px;
  top:362px;
  width:52px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1223 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1224 {
  position:absolute;
  left:1111px;
  top:582px;
  width:40px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1225 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1226 {
  position:absolute;
  left:1100px;
  top:790px;
  width:65px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1228 {
  position:absolute;
  left:1523px;
  top:268px;
  width:25px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:128px;
}
#u1231 {
  position:absolute;
  left:227px;
  top:482px;
  width:611px;
  height:128px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:56px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1233 {
  position:absolute;
  left:314px;
  top:628px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1234 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1235 {
  position:absolute;
  left:314px;
  top:672px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1236 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1237 {
  position:absolute;
  left:227px;
  top:628px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1238 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1239 {
  position:absolute;
  left:227px;
  top:672px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1240 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1241 {
  position:absolute;
  left:230px;
  top:485px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1242 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1243 {
  position:absolute;
  left:317px;
  top:485px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1244 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1245 {
  position:absolute;
  left:230px;
  top:529px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1246 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1247 {
  position:absolute;
  left:230px;
  top:573px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1248 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1249 {
  position:absolute;
  left:317px;
  top:529px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1250 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1251 {
  position:absolute;
  left:317px;
  top:573px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1252 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1253 {
  position:absolute;
  left:1523px;
  top:483px;
  width:25px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1254 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1255 {
  position:absolute;
  left:244px;
  top:61px;
  width:78px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
