<!--
  Generated template for the MilestoneDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      {{this.type==1?"新建里程碑":"里程碑详情"}}
    </ion-title>
    <ion-buttons end >
      <button ion-button (click)="onSaveMilestone()" style="color: #fc5c53">
        保存
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <ion-list no-padding no-lines style="margin-bottom: 0px; border-bottom: solid 1px #ececec">
    <ion-item >
      <ion-icon item-start name="appname-pname"></ion-icon>
      <ion-label>项目名称:</ion-label>
      <ion-label right text-right>{{pname}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-label full style="text-align: center">{{tempMilestone.milestoneName}}</ion-label>

  <ion-list no-lines style="border: solid 1px #ececec">
    <button ion-item style="border-bottom: solid 1px #ececec" (click)="onMilestoneLeader($event)" disabled="">
      <ion-icon item-start name="appname-admin"></ion-icon>
      <ion-label item-start>负责人:</ion-label>
      <ion-label item-end text-right>{{tempMilestone.milestoneLeader}}</ion-label>
    </button>
    <!--<ion-item style="border-bottom: solid 1px #ececec;">-->
      <!--<ion-icon item-start name="appname-admin"></ion-icon>-->
      <!--<ion-label>负责人:</ion-label>-->
      <!--<ion-input text-right type="text" [(ngModel)]="tempMilestone.milestoneLeader" required [disabled]=""></ion-input>-->
    <!--</ion-item>-->
    <ion-item style="border-bottom: solid 1px #ececec;">
      <ion-icon item-start name="appname-time"></ion-icon>
      <ion-label>交付时间:</ion-label>
      <ion-datetime text-right displayFormat="YYYY-MM-DD" max="2030" min="2015" cancelText="取消" doneText="确认" required [disabled]=""
                    ngModel="{{tempMilestone.planTime | stampToDate}}"
                    (ngModelChange)="tempMilestone.planTime = $event">
      </ion-datetime>
    </ion-item>
    <ion-item style="border-bottom: solid 1px #ececec">
      <ion-icon item-start name="appname-plan"></ion-icon>
      <ion-label>项目进度</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="tempMilestone.milestoneSchedule">
        <ion-option value="10%">10%</ion-option>
        <ion-option value="20%">20%</ion-option>
        <ion-option value="30%">30%</ion-option>
        <ion-option value="40%">40%</ion-option>
        <ion-option value="50%">50%</ion-option>
        <ion-option value="60%">60%</ion-option>
        <ion-option value="70%">70%</ion-option>
        <ion-option value="80%">80%</ion-option>
        <ion-option value="90%">90%</ion-option>
        <ion-option value="100%">100%</ion-option>
      </ion-select>
    </ion-item>
    <ion-item style="border-bottom: solid 1px #ececec;">
      <ion-icon item-start name="appname-result"></ion-icon>
      <ion-label no-padding no-margin>交付成果:</ion-label>
      <ion-input text-right type="text" [(ngModel)]="tempMilestone.milestoneDelivery" required [disabled]=""></ion-input>
    </ion-item>
    <ion-item *ngIf="tempMilestone.delay > 0" style="border-bottom: solid 1px #ececec;">
      <ion-label >延迟情况:</ion-label>
      <ion-label text-right item-end></ion-label>
    </ion-item>
  </ion-list>

  <ion-list no-lines no-padding no-margin *ngIf="type != 1">
    <ion-item style="border-top: solid 1px #ececec;border-bottom: solid 1px #ececec">
      <div item-start>是否完成</div>
      <ion-label>完成</ion-label>
      <ion-checkbox [(ngModel)]="tempMilestone.isAccomplish"></ion-checkbox>
    </ion-item>
    <ion-item style="border-bottom: solid 10px #ececec; height: 100px;">
      <ion-label item-start>备注:</ion-label>
      <ion-textarea item-end no-padding no-margin [(ngModel)]="tempMilestone.remark"></ion-textarea>
    </ion-item>
  </ion-list>

  <div *ngFor="let subtask of tempMilestone.children; let i = index">
    <div style="height: 30px; border-bottom: solid 1px #ececec; ">
      <div style="width: 5px; height: 30px; background-color: #555555; float: left;"></div>
      <ion-label no-margin no-padding style="line-height: 30px; margin-left: 10px; float: left;">{{subtask.subtaskName}}</ion-label>
      <div style="float: right; width: 30px; height: 30px;position: relative">
        <ion-icon name="close" style="position: absolute; top: 50%; right: 0px; -webkit-transform: translateY(-50%); transform: translateY(-50%); margin-right: 10px; " (click)="onRemoveSubtask($event, subtask)"></ion-icon>
      </div>
    </div>
    <ion-list no-lines no-padding no-margin>
      <ion-item style="border-bottom: solid 1px #ececec;">
        <ion-icon item-start name="appname-admin"></ion-icon>
        <ion-label>负责人:</ion-label>
        <ion-input text-right type="text" [(ngModel)]="subtask.subtaskLeader" required [disabled]="type==2"></ion-input>
      </ion-item>
      <ion-item style="border-bottom: solid 1px #ececec;">
        <ion-icon item-start name="appname-time"></ion-icon>
        <ion-label>交付时间</ion-label>
        <ion-datetime item-end displayFormat="YYYY年MM月DD日" max="2030" min="2015" cancelText="取消" doneText="确认"
                      ngModel="{{subtask.planTime | stampToDate}}"
                      (ngModelChange)="subtask.planTime = $event"
                      [disabled]="type==2"></ion-datetime>
      </ion-item>
      <ion-item style="border-bottom: solid 10px #ececec;">
        <ion-icon item-start name="appname-result"></ion-icon>
        <ion-label no-padding no-margin>交付成果:</ion-label>
        <ion-input text-right type="text" [(ngModel)]="subtask.deliveryResult" required [disabled]="type==2"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <div style="padding: 10px;" *ngIf="type > 1">
    <button ion-button (click)="onAddSubtask($event)" block style="background-color: #fc5c53">+ 添加子任务</button>
  </div>
</ion-content>
