body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u695 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u696 {
  position:absolute;
  left:400px;
  top:0px;
  width:375px;
  height:667px;
}
#u697 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u698 {
  position:absolute;
  left:2px;
  top:748px;
  width:375px;
  height:667px;
}
#u699 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700 {
  position:absolute;
  left:315px;
  top:771px;
  width:62px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u701 {
  position:absolute;
  left:111px;
  top:696px;
  width:141px;
  height:16px;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703 {
  position:absolute;
  left:91px;
  top:1444px;
  width:183px;
  height:16px;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u705 {
  position:absolute;
  left:511px;
  top:696px;
  width:169px;
  height:16px;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u707 {
  position:absolute;
  left:400px;
  top:748px;
  width:375px;
  height:667px;
}
#u708 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  position:absolute;
  left:496px;
  top:1444px;
  width:211px;
  height:16px;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u711 {
  position:absolute;
  left:713px;
  top:771px;
  width:62px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u712 {
  position:absolute;
  left:0px;
  top:23px;
  width:60px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u713 {
  position:absolute;
  left:400px;
  top:23px;
  width:60px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u714 {
  position:absolute;
  left:2px;
  top:771px;
  width:60px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u715 {
  position:absolute;
  left:400px;
  top:771px;
  width:60px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u716_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:4597px;
}
#u716 {
  position:absolute;
  left:850px;
  top:0px;
  width:5px;
  height:4592px;
}
#u717 {
  position:absolute;
  left:2px;
  top:2288px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718 {
  position:absolute;
  left:924px;
  top:1px;
  width:821px;
  height:164px;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
}
#u720 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:20px;
}
#u721 {
  position:absolute;
  left:215px;
  top:0px;
  width:601px;
  height:20px;
}
#u722 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:139px;
}
#u723 {
  position:absolute;
  left:0px;
  top:20px;
  width:215px;
  height:139px;
}
#u724 {
  position:absolute;
  left:2px;
  top:62px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:139px;
}
#u725 {
  position:absolute;
  left:215px;
  top:20px;
  width:601px;
  height:139px;
  text-align:left;
}
#u726 {
  position:absolute;
  left:2px;
  top:38px;
  width:597px;
  word-wrap:break-word;
}
