person-info {
  .info_css {
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-top: 15px
  }

  .button_warp {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 50px;
    left: 0px;

    .button_inline {
      margin: 0 auto;
      background-color: #fc5c53;
      width: 100px;
      height: 50px;
      border-radius: 25px
    }
  }
}
