body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:808px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:127px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
}
#u119 {
  position:absolute;
  left:100px;
  top:0px;
  width:300px;
  height:20px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:20px;
}
#u121 {
  position:absolute;
  left:400px;
  top:0px;
  width:408px;
  height:20px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:404px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u123 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:52px;
}
#u124 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
}
#u125 {
  position:absolute;
  left:100px;
  top:20px;
  width:300px;
  height:52px;
}
#u126 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:52px;
}
#u127 {
  position:absolute;
  left:400px;
  top:20px;
  width:408px;
  height:52px;
  text-align:left;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:404px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u129 {
  position:absolute;
  left:0px;
  top:72px;
  width:100px;
  height:50px;
}
#u130 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u131 {
  position:absolute;
  left:100px;
  top:72px;
  width:300px;
  height:50px;
}
#u132 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:50px;
}
#u133 {
  position:absolute;
  left:400px;
  top:72px;
  width:408px;
  height:50px;
  text-align:left;
}
#u134 {
  position:absolute;
  left:2px;
  top:9px;
  width:404px;
  word-wrap:break-word;
}
