body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1036px;
}
#u1257 {
  position:absolute;
  left:100px;
  top:0px;
  width:1px;
  height:1035px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:510px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:50px;
  width:1000px;
  height:1px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1261 {
  position:absolute;
  left:156px;
  top:61px;
  width:78px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u1263 {
  position:absolute;
  left:100px;
  top:89px;
  width:900px;
  height:1px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1265 {
  position:absolute;
  left:904px;
  top:61px;
  width:96px;
  height:16px;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1267 {
  position:absolute;
  left:475px;
  top:61px;
  width:145px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1269 {
  position:absolute;
  left:156px;
  top:106px;
  width:78px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1271 {
  position:absolute;
  left:234px;
  top:106px;
  width:228px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1273 {
  position:absolute;
  left:1506px;
  top:475px;
  width:60px;
  height:60px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u1275 {
  position:absolute;
  left:1546px;
  top:475px;
  width:20px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u1276 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1277 {
  position:absolute;
  left:1506px;
  top:261px;
  width:60px;
  height:60px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:128px;
}
#u1280 {
  position:absolute;
  left:227px;
  top:148px;
  width:611px;
  height:128px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:56px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1282 {
  position:absolute;
  left:314px;
  top:294px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1283 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1284 {
  position:absolute;
  left:314px;
  top:338px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1285 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1286 {
  position:absolute;
  left:227px;
  top:294px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1287 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1288 {
  position:absolute;
  left:227px;
  top:338px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1289 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1290 {
  position:absolute;
  left:230px;
  top:151px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1291 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1292 {
  position:absolute;
  left:317px;
  top:151px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1293 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1294 {
  position:absolute;
  left:230px;
  top:195px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1295 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1296 {
  position:absolute;
  left:230px;
  top:239px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1297 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1298 {
  position:absolute;
  left:317px;
  top:195px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1299 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1300 {
  position:absolute;
  left:317px;
  top:239px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1301 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1302 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1303 {
  position:absolute;
  left:151px;
  top:303px;
  width:57px;
  height:57px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1305_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:237px;
}
#u1305 {
  position:absolute;
  left:176px;
  top:398px;
  width:5px;
  height:225px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:104px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1307 {
  position:absolute;
  left:150px;
  top:638px;
  width:57px;
  height:57px;
}
#u1308 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:161px;
}
#u1309 {
  position:absolute;
  left:175px;
  top:727px;
  width:5px;
  height:149px;
}
#u1310 {
  position:absolute;
  left:2px;
  top:66px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1311 {
  position:absolute;
  left:148px;
  top:883px;
  width:57px;
  height:57px;
}
#u1312 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1314 {
  position:absolute;
  left:323px;
  top:873px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1315 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1316 {
  position:absolute;
  left:323px;
  top:917px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1317 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1318 {
  position:absolute;
  left:236px;
  top:873px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1319 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1320 {
  position:absolute;
  left:236px;
  top:917px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1321 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1322 {
  position:absolute;
  left:153px;
  top:372px;
  width:52px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1323 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1324 {
  position:absolute;
  left:157px;
  top:708px;
  width:40px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1326 {
  position:absolute;
  left:146px;
  top:950px;
  width:65px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1329 {
  position:absolute;
  left:1274px;
  top:292px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1330 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1331 {
  position:absolute;
  left:1274px;
  top:336px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1332 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1333 {
  position:absolute;
  left:1187px;
  top:292px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1334 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1335 {
  position:absolute;
  left:1187px;
  top:336px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1336 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1338 {
  position:absolute;
  left:1105px;
  top:293px;
  width:57px;
  height:57px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:137px;
}
#u1340 {
  position:absolute;
  left:1130px;
  top:388px;
  width:5px;
  height:125px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1342 {
  position:absolute;
  left:1104px;
  top:512px;
  width:57px;
  height:57px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:137px;
}
#u1344 {
  position:absolute;
  left:1129px;
  top:599px;
  width:5px;
  height:125px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1346 {
  position:absolute;
  left:1102px;
  top:723px;
  width:57px;
  height:57px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1348 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1349 {
  position:absolute;
  left:1277px;
  top:506px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1350 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1351 {
  position:absolute;
  left:1277px;
  top:550px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1352 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1353 {
  position:absolute;
  left:1190px;
  top:506px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1354 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1355 {
  position:absolute;
  left:1190px;
  top:550px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1356 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1358 {
  position:absolute;
  left:1277px;
  top:723px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1359 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1360 {
  position:absolute;
  left:1277px;
  top:767px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1361 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1362 {
  position:absolute;
  left:1190px;
  top:723px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1363 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1364 {
  position:absolute;
  left:1190px;
  top:767px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1365 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1366 {
  position:absolute;
  left:1107px;
  top:362px;
  width:52px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1367 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1368 {
  position:absolute;
  left:1111px;
  top:582px;
  width:40px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1370 {
  position:absolute;
  left:1100px;
  top:790px;
  width:65px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC33;
}
#u1371 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1372 {
  position:absolute;
  left:1523px;
  top:268px;
  width:25px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1374 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:128px;
}
#u1375 {
  position:absolute;
  left:227px;
  top:482px;
  width:611px;
  height:128px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:56px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1377 {
  position:absolute;
  left:314px;
  top:628px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1378 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1379 {
  position:absolute;
  left:314px;
  top:672px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1380 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1381 {
  position:absolute;
  left:227px;
  top:628px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1382 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1383 {
  position:absolute;
  left:227px;
  top:672px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1384 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1385 {
  position:absolute;
  left:230px;
  top:485px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1386 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1387 {
  position:absolute;
  left:317px;
  top:485px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1388 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1389 {
  position:absolute;
  left:230px;
  top:529px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1390 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1391 {
  position:absolute;
  left:230px;
  top:573px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1392 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1393 {
  position:absolute;
  left:317px;
  top:529px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1394 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1395 {
  position:absolute;
  left:317px;
  top:573px;
  width:518px;
  height:34px;
  text-align:left;
}
#u1396 {
  position:absolute;
  left:2px;
  top:9px;
  width:514px;
  word-wrap:break-word;
}
#u1397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1397 {
  position:absolute;
  left:314px;
  top:737px;
  width:518px;
  height:53px;
  text-align:left;
}
#u1398 {
  position:absolute;
  left:2px;
  top:2px;
  width:514px;
  word-wrap:break-word;
}
#u1399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1399 {
  position:absolute;
  left:227px;
  top:727px;
  width:77px;
  height:34px;
  text-align:right;
}
#u1400 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1401 {
  position:absolute;
  left:1523px;
  top:483px;
  width:25px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u1403 {
  position:absolute;
  left:1145px;
  top:512px;
  width:20px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u1404 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u1405 {
  position:absolute;
  left:380px;
  top:519px;
  width:20px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u1406 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u1407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u1407 {
  position:absolute;
  left:193px;
  top:639px;
  width:20px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u1408 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u1409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1409 {
  position:absolute;
  left:244px;
  top:61px;
  width:78px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
